.checkout_details_cart {
	margin-top: 10px;
}

.filter-options .filter-options-content .item > a {
	display: flex;
	justify-content: space-between;
}

#maincontent > div.category-view {
	display: none;
}

.filter-options .filter-options-content .item  .count {
	flex: 1 0 auto;
    text-align: right;
}

#html-body > div.page-wrapper > header {
	background: #8e8e8e;
}

@media (min-width: 769px), print {
	#store\.menu > nav {
		display: flex;
		justify-content: center;
	}
}