<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Model\Order\Pdf\Invoice" type="Schraubermarkt\Sales\Model\Order\Pdf\Invoice"/>

    <virtualType name="configured_block_cache" type="Magento\Framework\App\Cache">
    <arguments>
        <argument name="cacheIdentifier" xsi:type="string">block_html</argument>
    </arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\Context">
	    <arguments>
	        <argument name="cache" xsi:type="object">configured_block_cache</argument>
	    </arguments>
	</type>
	<type name="Magento\Framework\DB\Adapter\SqlVersionProvider">
	    <arguments>
	        <argument name="supportedVersionPatterns" xsi:type="array">
	            <item name="MySQL-8" xsi:type="string">^8\.0\.</item>
	            <item name="MySQL-5.7" xsi:type="string">^5\.7\.</item>
	            <item name="MariaDB-(10.2-10.4)" xsi:type="string">^10\.[2-4]\.</item>
	        </argument>
	    </arguments>
	</type>
	<type name="Magento\Framework\View\TemplateEngine\Php">
	    <arguments>
	        <argument name="blockVariables" xsi:type="array">
	            <item name="secureRenderer" xsi:type="object">Magento\Framework\View\Helper\SecureHtmlRenderer\Proxy</item>
	            <item name="escaper" xsi:type="object">Magento\Framework\Escaper</item>
	        </argument>
	    </arguments>
	</type>
</config>

